# User-specific IntelliJ files:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Binary files not tracked by Git -- see README.TXT
lib

# IntelliJ outpt for Build -> Make Project
out

# IntelliJ output for Build -> Prepare Module for Deployment
com.microsoft.vso.idea.jar